/* Deklarera CSS-variabler i :root */
:root {
    --blackish-color: #101212;
    --trueblack-color: #000000;
    --secondary-color: blue;
    --third-color: 161, 0, 0;
    --fourth-color: #F8F8F8;
    --fifth-color: #F2F2F2;
    --sixth-color: blue;
    --seventh-color: #587291;
    --eighth-color: #5B2E48;
    --ninth-color: #DCDCDC;
    --font-family: 'Open Sans', sans-serif;
    /* --font-size-base: 16px; */

    /* 24px */
    --font-size-default: calc(24rem / 16);

    /* 30px */
    --font-size-xl: calc(30rem / 16);

    /* 36px */
    --font-size-2xl: calc(36rem / 16);

    /* designed to fit an example estimated to have had viewport height of 668 */
    /* if viewport example is 1451 and user is assumed to use a monitor with widescreen 16:9 and bookmarks-bar and adress-bar showing 80–120px, windows taskbar 40–50px. I calculated height ratio for viewport to be approx 668px, so I will use that when calculating the vh */
    --viewportheight: 668;
}

html {
    font-size: 100%;
    line-height: 1.172;
    font-family: var(--font-family);
    color: var(--primary-color);
}

body {
    font-size: var(--font-size-default);
    font-family: 'Roboto', sans-serif;
    background-color: var(--fourth-color);
}

nav {
    background-color: var(--fourth-color);
    display: flex;
}

header > nav {
    /* measured */
    /* viewport in figma was 1451px wide */
    /* this element should be height 85px, margin 31px in Figma by that viewport size */
    /* 85/16=5.3125rem, 31/16=1.9375rem */
    /* 85/16=5.3125rem, 31/16=1.9375rem */
    /* 31/1451*100=2.1365vw */
    margin-inline: min(2.1365vw, calc(31rem / 16));
    border: 1px solid var(--fifth-color);
    /* spread must be in px according to w3schools, when using 4 parameters 3:rd one is blur, when using 5 4:th one is spread */
    box-shadow: calc(1rem / 16) calc(1rem / 16) 21px var(--ninth-color);
    justify-content: center;
    gap:min(7.4431vw, calc(108rem/16));
}

footer > nav {
    /* measured */
    font-size: var(--font-size-xl);
    justify-content:flex-end;
    
    gap: min(1.5161vw, calc(22rem/16));
    /* 40px from right */
    margin-right: min(6.6850vw, calc(97rem/16));
    padding-bottom:0px;
    line-height:30px;
    /* margin-bottom should be 70px but a already has 14,372px padding-bottom */
    margin-top: min(calc(55.628vh/var(--viewportheight)*100), calc(55.628rem/16)) ;
    margin-bottom: min(calc(55.628vh/var(--viewportheight)*100), calc(55.628rem/16));
}

header {
    /* measured */
    /* padding 70px */
    
        /* padding-top:calc(70rem / 16); */
        /* 70/668px*100=10.4790 */
    padding-top: min(calc(70vh/var(--viewportheight)*100), calc(70rem/16));

    /* since this is an image all the pixels should be shown */
    height: calc(930rem/16);
    background-image: url("/images/headerbackground2000x1282.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-position: center;
}

a {
    /* (85/2)-24*1.172=14.372px ska bli 49px */
    padding-top: min(calc(14.372vh/var(--viewportheight)*100), calc(14.372rem/16));
    padding-bottom: min(calc(14.372vh/var(--viewportheight)*100), calc(14.372rem/16));
    color:var(--blackish-color);
    text-decoration: none;
    vertical-align: middle;
}

a:hover {
    color:var(--secondary-color);
    text-decoration: underline;
}

a:visited {
    color: var(--blackish-color);
}

section {
    background-color:var(--seventh-color);
    text-align: center;
}

section h1 {
    /* choosing almost white even though I know it is #FFFFFF in Figma */
    color: var(--fourth-color);
    font-size: var(--font-size-2xl);
    /* 327px-8px=319 */
    padding-top: min(calc(319vh/var(--viewportheight)*100), calc(319rem/16));
    /* 48px-17px=31 */
    padding-bottom:min(calc(31vh/var(--viewportheight)*100), calc(31rem/16));
}

button {
    /* measured */
    /* choosing almost white even though I know it is #FFFFFF in Figma */    
    /* -10 height   -11 bottom  -6 left  -4 right */
    /* 22 height 22 bottom     33 left 41 right  */

    padding-top: min(calc(12vh/var(--viewportheight)*100), calc(12rem/16));
    padding-bottom: min(calc(11vh/var(--viewportheight)*100), calc(11rem/16));
    padding-left: min(1.8608vw, calc(27rem / 16));
    padding-right: min(2.55vw, calc(37rem / 16));
    color: var(--fourth-color);
    font-size: var(--font-size-xl);
    background-color: var(--eighth-color);
    margin-bottom: min(calc(327vh/var(--viewportheight)*100), calc(327rem/16));
    border-radius: calc(10rem / 16);
    box-shadow: 0 calc(4rem / 16) 4px var(--trueblack-color);
}